


body{
    background-color: #E3F6FF;
}

.hgroup h1, .city-tracker h1{
    text-align: center;
    font-size: 3rem;
    padding-top: 20px;
    color:#00131D;
}

.hgroup p{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px; 
    color:#00322A;

}

.display{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    margin-top: 10px; 
}


.display h3{
    text-align: center;
    font-size: 25px;
    margin-top: 10px; 
}

input[type="button"]{
    border-radius: 30px;
    height: 30px;
    width:120px;
    background-color:#049DD9;
    color:white;
}

input[type="button"]:hover{
    background-color: black;

}

input[type="text"]{
    width:320px;
    height:35px;

}
.filter-buttons{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
}

.filter-buttons .time{
    background: #eee;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 5px;
    border-bottom: 2px solid transparent;
}

.filter-buttons .time:hover {
    background: #ddd;
}

.filter-buttons .time.active {
    background: white;
    border: 2px solid #ccc;
    border-bottom: 2px solid white; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
}


.tab-content h3{
    text-align: center;
}


#past-table{
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
    
}

#past-table table, th, td {
    border: 1px solid #ddd;
}

/* Chart Container */
.charts-canvas {
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.12);
}

/* Canvas clean look */
canvas {
    width: 100%;
    height: 400px ;
    display: block;
    margin: 0 auto;
}